aliyun-python-sdk-core
aliyun-python-sdk-kms
argon2-cffi
argon2-cffi-bindings
blinker
certifi
cffi
charset-normalizer
click
colorama
crcmod
cryptography
Flask
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
jmespath
Mako
MarkupSafe
mmh3
numpy
oss2
pandas
pycparser
pycryptodome
PyMySQL
python-dateutil
pytz
redis
requests
six
SQLAlchemy
typing_extensions
tzdata
urllib3
Werkzeug
uwsgi