<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Bootstrap Example{% endblock %}</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>

</head>
<body>

<!-- Navbar/Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Pyhackme</a>

       <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if "user_id" in session %}
                <!-- Display username and dropdown menu if user is authenticated -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ session['username'] }}
                    </a>
                    <div class="dropdown-menu popper"  data-popper-placement="bottom-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('user.center') }}">用户中心</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('user.logout') }}">退出</a>
                    </div>
                </li>
            {% else %}
                <!-- Display login and register links if user is not authenticated -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.login') }}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.register') }}">注册</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- Main Content -->

{% block content %}{% endblock %}


<!-- Link to Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>