<html>
 <head>


     <link href={{ url_for('static',filename='css/bootstrap.min.css') }} rel="stylesheet">
 </head>

<form style="width: 600px; margin:100px auto" action="/user/fotgotpassword" method="post">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">邮箱</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="email">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">用户名</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="phone">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</html>