{% extends "base.html" %}
{% block title %}商品列表{% endblock %}
    <style>
        /* 添加自定义样式 */
        .product {
            margin-bottom: 20px;
        }
    </style>

{% block content %}
<div class="container">
    <h2 class="mt-5 mb-4">商品列表</h2>
    <div class="row">
        <!-- 商品1 -->
        {% for goods in goods_lists %}
        <div class="col-md-4 product">
            <div class="card">
                <img src={{ goods.mainimg }} class="card-img-top" alt="Product 1">
                <div class="card-body">
                    <h5 class="card-title">{{ goods.goodsname }}</h5>
                    <p class="card-text">剩余：{{ goods.sku }}</p>
                    <p class="card-text">{{ goods.price }}元</p>
                       <a href="{{ url_for('order.index',goodsid=goods.id) }}" class="btn btn-primary">购买</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
