<html>
 <head>
<h2>重置密码</h2>
<p>请为{{ email }}设置密码</p>
     <link href={{ url_for('static',filename='css/bootstrap.min.css') }} rel="stylesheet">
 </head>

<form style="width: 600px; margin:100px auto" action="/user/resetpassword/{{ randomuid }}" method="post">
    <input type="hidden"  class="form-control" id="exampleInputPassword1" name="email" value="{{ email }}">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">设置密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
      <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">确认设置密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="confirm_password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</html>